<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xzp.mapper.StudentQuestionMapper">

    <resultMap id="BaseResultMap" type="com.xzp.pojo.po.StudentQuestion">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="studentExamId" column="student_exam_id" jdbcType="INTEGER"/>
            <result property="questionId" column="question_id" jdbcType="INTEGER"/>
            <result property="type" column="type" jdbcType="TINYINT"/>
            <result property="score" column="score" jdbcType="DECIMAL"/>
            <result property="gotScore" column="got_score" jdbcType="DECIMAL"/>
            <result property="orderNum" column="order_num" jdbcType="INTEGER"/>
            <result property="answer" column="answer" jdbcType="VARCHAR"/>
            <result property="isAnswered" column="is_answered" jdbcType="TINYINT"/>
            <result property="isRight" column="is_right" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,student_exam_id,question_id,
        type,score,got_score,order_num,
        answer,is_answered,is_right
    </sql>
    <select id="getQuesPercen" resultType="com.xzp.pojo.vo.student.StudentQuestionVO">
        select question_id,count(question_id) as counts  from s_student_question where is_right=false and
         (select is_checked from s_student_exam where s_student_question.student_exam_id=s_student_exam.id)=true group by question_id
         order by counts desc limit 10;
    </select>
    <select id="getquestionCount" resultType="com.xzp.pojo.po.StudentQuestion">
        select student_exam_id, count(*) as counts from s_student_question where student_exam_id in
                                                        (select id from s_student_exam where is_finished=true group by id) group by student_exam_id;
    </select>
    <select id="getstuRightCount" resultType="com.xzp.pojo.vo.student.StudentExamRightCount">
        select student_exam_id as student_exam_id, count(*) as sum  from s_student_question where student_exam_id in (select s_student_exam.id from s_student_exam where student_id=#{id})
        and is_right=true group by student_exam_id;
    </select>
</mapper>
